.botao{
  background-color: #6278F7;
  border-radius: 10px;
  font-weight: 700;
  padding: 32px;
  margin: 32px 0;
  border: none;
  cursor: pointer;
  color: #FFFF;
}

.botao:hover{
  background-color: #516bff;
}